<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.ClassKit-environment</key>
	<string>development</string>
	<key>com.apple.developer.applesignin</key>
	<array>
		<string>Default</string>
	</array>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:kardder.com</string>
	</array>
	<key>com.apple.developer.authentication-services.autofill-credential-provider</key>
	<true/>
	<key>com.apple.developer.avfoundation.multitasking-camera-access</key>
	<true/>
	<key>com.apple.developer.calling-app</key>
	<true/>
	<key>com.apple.developer.coremotion.head-pose</key>
	<true/>
	<key>com.apple.developer.coretelephony.sim-inserted</key>
	<true/>
	<key>com.apple.developer.default-data-protection</key>
	<string>NSFileProtectionComplete</string>
	<key>com.apple.developer.group-session</key>
	<true/>
	<key>com.apple.developer.healthkit</key>
	<true/>
	<key>com.apple.developer.healthkit.background-delivery</key>
	<true/>
	<key>com.apple.developer.homekit</key>
	<true/>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array>
		<string>iCloud.allcaps.container</string>
	</array>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudKit</string>
		<string>CloudDocuments</string>
	</array>
	<key>com.apple.developer.in-app-payments</key>
	<array>
		<string>merchant.com.allcaps</string>
	</array>
	<key>com.apple.developer.journal.allow</key>
	<array>
		<string>suggestions</string>
	</array>
	<key>com.apple.developer.kernel.increased-debugging-memory-limit</key>
	<true/>
	<key>com.apple.developer.messages.critical-messaging</key>
	<true/>
	<key>com.apple.developer.messaging-app</key>
	<true/>
	<key>com.apple.developer.navigation-app</key>
	<true/>
	<key>com.apple.developer.networking.HotspotConfiguration</key>
	<true/>
	<key>com.apple.developer.networking.multipath</key>
	<true/>
	<key>com.apple.developer.networking.slicing.appcategory</key>
	<array/>
	<key>com.apple.developer.networking.slicing.trafficcategory</key>
	<array/>
	<key>com.apple.developer.networking.wifi-info</key>
	<true/>
	<key>com.apple.developer.nfc.readersession.formats</key>
	<array>
		<string>TAG</string>
	</array>
	<key>com.apple.developer.pass-type-identifiers</key>
	<array/>
	<key>com.apple.developer.pay-later-merchandising</key>
	<array>
		<string>payinfour-merchandising</string>
	</array>
	<key>com.apple.developer.proximity-reader.identity.display</key>
	<true/>
	<key>com.apple.developer.sensitivecontentanalysis.client</key>
	<array>
		<string>analysis</string>
	</array>
	<key>com.apple.developer.siri</key>
	<true/>
	<key>com.apple.developer.spatial-audio.profile-access</key>
	<true/>
	<key>com.apple.developer.translation-app</key>
	<true/>
	<key>com.apple.developer.ubiquity-container-identifiers</key>
	<array>
		<string>iCloud.allcaps.container</string>
	</array>
	<key>com.apple.developer.ubiquity-kvstore-identifier</key>
	<string>$(TeamIdentifierPrefix)$(CFBundleIdentifier)</string>
	<key>com.apple.developer.user-fonts</key>
	<array>
		<string>system-installation</string>
		<string>app-usage</string>
	</array>
	<key>com.apple.developer.usernotifications.communication</key>
	<true/>
	<key>com.apple.developer.usernotifications.time-sensitive</key>
	<true/>
	<key>com.apple.developer.weatherkit</key>
	<true/>
	<key>com.apple.external-accessory.wireless-configuration</key>
	<true/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.allcaps</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>27A2DW4KWX.com.allcaps.AllCapabilitiesDemo</string>
	</array>
</dict>
</plist>
