<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCallKitUsageDescription</key>
	<string>We need access to handle calls.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tel</string>
				<string>telprompt</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.appcaps</string>
		</dict>
	</array>
	<key>IntentsSupported</key>
	<array>
		<string>INStartAudioCallIntent</string>
		<string>INStartVideoCallIntent</string>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>SaveTextIntent</string>
	</array>
	<key>NSUserNotificationsUsageDescription</key>
	<string>We use notifications for important alerts and reminders.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>This app uses your location to provide weather updates.</string>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>processing</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UIAppFonts</key>
	<array>
        <string>GreycliffCF-ThinOblique.otf</string>
        <string>GreycliffCF-Heavy.otf</string>
        <string>GreycliffCF-ExtraBold.otf</string>
        <string>GreycliffCF-ExtraLightOblique.otf</string>
        <string>GreycliffCF-Light.otf</string>
        <string>GreycliffCF-BoldOblique.otf</string>
        <string>GreycliffCF-DemiBoldOblique.otf</string>
        <string>GreycliffCF-ExtraLight.otf</string>
        <string>GreycliffCF-RegularOblique.otf</string>
        <string>GreycliffCF-Thin.otf</string>
        <string>GreycliffCF-Bold.otf</string>
        <string>GreycliffCF-LightOblique.otf</string>
        <string>GreycliffCF-DemiBold.otf</string>
        <string>GreycliffCF-HeavyOblique.otf</string>
        <string>GreycliffCF-Medium.otf</string>
        <string>GreycliffCF-ExtraBoldOblique.otf</string>
        <string>GreycliffCF-Regular.otf</string>
        <string>GreycliffCF-MediumOblique.otf</string>
	</array>
</dict>
</plist>
